@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-div{
    background-color: #FDE047;
  }
  
.custom-divo{
    background-color: #FB923C;
  }

.custom-divl{
    background-color: #A3E635;
}

.custom-divv{
    background-color: #A78BFA;
}

.custom-divc{
    background-color: #22D3EE;
}

body {
  overflow-x: hidden;
}

.root-container {
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.root-container::-webkit-scrollbar {
  display: none;
}

/* scrollbar style */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #999999 #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}


.title-container::-webkit-scrollbar {
  display: none;
}